<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% flash.each do |name, msg| %>
      <!-- So if you pass success it will translate like
      <div class="alert alert-success"> -->
      <div class='alert alert-<%= "#{name}" %>'>
        <!-- This will give you the x to close the message (&#125 = x)-->
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <%= content_tag :div, msg, :id => "flush_#{name}" if msg.is_a?(String) %>
      </div>
    <% end %>
  </div>
</div>